@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.box {
  justify-content: center;
  align-items: center;
  flex: 1;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Starfield {
  height: 90px;
}

title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgb(255, 133, 133);
  /* color: #cf1b1b; */
  /* font-size: 124px; */
  letter-spacing: 8px;
  cursor: pointer;
  font-weight: bolder;
}

title::before {
  content: 'PopQuote';
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgb(106, 80, 255) 2px,
    rgb(106, 80, 255) 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

title::after {
  content: 'PopQuote';
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    rgb(106, 80, 255) 2px,
    rgb(106, 80, 255) 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

title:hover:before {
  top: 10px;
  left: 10px;
}

title:hover:after {
  top: -10px;
  left: -10px;
}

body {
  /* padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(255, 163, 163);
  height: 100vh;
  width: 100vw; */

  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(255, 207, 129) 3%,
    rgb(250, 228, 142) 38%,
    rgb(255, 212, 112) 68%,
    rgb(250, 228, 142) 98%
  );
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.popcat {
  z-index: 50;
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 18em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}

#popCard {
  background-image: url('./assets/popQuoteCardOpen.png');
}

#popCard:hover {
  background-image: url('./assets/popQuoteCardClosed.png');
}

html,
body {
  font-family: 'Fira Code', monospace;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

#paragraph {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: 0.2s ease-out;
  white-space: nowrap;
}

#popTitle {
  position: relative;
}

#popTitle:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  bottom: 9px;
  transition: all 0.2s ease-out;
}

#paragraph:hover {
  background-position: 0 10px;
}

#popTitle:hover:before {
  transform: translateY(10px);
}

.score {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.heart {
  width: 300px;
  cursor: pointer;
  filter: drop-shadow(0 0 2px white);
  animation: rotates 100s linear infinite;
}

.auto {
  width: 50px;
  filter: drop-shadow(0 0 2px white);
  animation: rotates 100s linear infinite;
  transform: translateX(90px);
}

.heart-particle {
  width: 30px;
  position: absolute;
  top: -30px;
  left: -30px;
  pointer-events: none;
  animation: heart-up 3s linear forwards;
}

.powerups {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  gap: 50px;
}

.powerup {
  width: 150px;
  height: 160px;
  border: 2px solid;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.powerup:active {
  transform: scale(0.9);
}

.powerup .name {
  font-size: 1.3rem;
  font-weight: bold;
}

.powerup .price {
  font-size: 1.1rem;
  color: rgb(31, 181, 41);
}

.cursor.auto-click {
  width: 80px;
  transform: rotate(28deg);
  padding-top: 10px;
}

.invalid {
  border: 2px solid red;
  animation: error 0.3s linear infinite;
}

.disable {
  display: none;
}

.auto-clicks h2 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.auto-clicks {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: visible;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.cursor.auto {
  animation: clickEffect 0.5s ease alternate infinite;
}

.cursor {
  width: 80px;
}

/* Keyframes */

@keyframes rotates {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes heart-up {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: 0;
  }
}

@keyframes clickEffect {
  to {
    transform: rotate(28deg) scale(0.8);
  }
  from {
    transform: rotate(28deg) scale(0.7);
  }
}

@keyframes error {
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

:root {
  --all-animations-duration: 1.5s;
  --bgColor: #bc90fe;
  --color: rgb(255, 255, 255);
  --defaultAnimationState: running;
}

#heart-title-container {
  animation: ChangeBGcolor var(--all-animations-duration) infinite
    alternate-reverse;
  overflow: hidden;
  animation-play-state: var(--defaultAnimationState);
}

.main-quote {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  animation: h1Change var(--all-animations-duration) infinite alternate-reverse;
  animation-play-state: var(--defaultAnimationState);
}

.heart-title {
  position: relative;
  animation: pulse var(--all-animations-duration) infinite alternate-reverse;
  animation-play-state: var(--defaultAnimationState);
}

.heart-title:before,
.heart-title:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #a0dbff;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  animation: HeartColor var(--all-animations-duration) infinite
    alternate-reverse;
  animation-play-state: var(--defaultAnimationState);
}

.heart-title:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.heart-title span {
  position: relative;
  top: 15px;
  left: 25px;
  z-index: 1;
  animation: ChangeColor var(--all-animations-duration) infinite
    alternate-reverse;
  animation-play-state: var(--defaultAnimationState);
  font-family: 'Lovers Quarrel', cursive;
  font-weight: bold;
  font-size: 35px;
}

/* Start: Animation pulse to scale the heart */
@-webkit-keyframes pulse {
  form {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes pulse {
  form {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* End: Animation pulse to scale the heart */

/* Start: Changing body background to be as opposite as the color */
@-webkit-keyframes ChangeBGcolor {
  from {
    background-color: var(--color);
  }
  to {
    background-color: var(--bgColor);
  }
}

@keyframes ChangeBGcolor {
  from {
    background-color: var(--color);
  }
  to {
    background-color: var(--bgColor);
  }
}
/* End: Changing body background to be as opposite as the color */

/* Start: Changing header color to be as opposite as the background */
@-webkit-keyframes Change {
  from {
    color: var(--bgColor);
  }
  to {
    color: var(--color);
  }
}

@keyframes h1Change {
  from {
    color: var(--bgColor);
  }
  to {
    color: var(--color);
  }
}
/* End: Changing header color to be as opposite as the background */

/* Start: Toggling heart background color(red, black) */
@-webkit-keyframes HeartColor {
  from {
    background-color: var(--bgColor);
  }
  to {
    background-color: var(--color);
  }
}

@keyframes HeartColor {
  from {
    background-color: var(--bgColor);
  }
  to {
    background-color: var(--color);
  }
}
/* Start: Toggling heart background color(red, black) */

/* Start: Changing span color to be as opposite as the background */
@-webkit-keyframes ChangeColor {
  from {
    color: var(--color);
  }
  to {
    color: var(--bgColor);
  }
}

@keyframes ChangeColor {
  from {
    color: var(--color);
  }
  to {
    color: var(--bgColor);
  }
}
/* End: Changing span color to be as opposite as the background */
