* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  /* position: fixed; */
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100px;
  background-color: #fcd1fe;
  color: #000000;
  /* border-radius: 2rem; */
  /* border: 1px solid #fff; */
  /* justify-content: center; */
  align-items: center;
  left: 0;
  right: 0;
  overflow: hidden;
}

.box {
  justify-content: center;
  align-items: center;
  flex: 1;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.sky-background {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #ffb0d1;
  height: 100vh;
  position: relative;
  background-image: url(./components/Desktop\ -\ 1.png);
} */

.sky-background {
  background-color: #ffb0d1;
  height: 100vh;
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
}

.decor {
  height: 100vh;
}

.left-clouds-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.right-clouds-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#left-cloud-1 {
  position: absolute;
  top: 13rem;
}

#left-cloud-2 {
  position: absolute;
  top: 31rem;
}

#left-cloud-3 {
  position: absolute;
  top: 47rem;
}

#left-star-1 {
  position: absolute;
  top: 7rem;
  left: 1rem;
  scale: 0.5rem;
}

#left-star-2 {
  position: absolute;
  top: 18rem;
  left: 2rem;
}

#left-star-3 {
  position: absolute;
  top: 32rem;
  left: 1rem;
}

#left-star-4 {
  position: absolute;
  top: 42.5rem;
  left: 2rem;
}

#right-cloud-1 {
  position: absolute;
  top: 7rem;
}

#right-cloud-2 {
  position: absolute;
  top: 24rem;
}

#right-cloud-3 {
  position: absolute;
  top: 39rem;
}

#right-star-1 {
  position: absolute;
  top: 4rem;
  right: 1cap;
}

#right-star-2 {
  position: absolute;
  top: 17rem;
  right: 2rem;
}

#right-star-3 {
  position: absolute;
  top: 33rem;
  right: 1rem;
}

#right-star-4 {
  position: absolute;
  top: 43rem;
  right: 1rem;
}

#whiteboard {
  position: absolute;
  width: 79%;
  height: 70%;
  border-color: #f791c8;
  border-style: solid;
  border-width: 0.3rem;
  border-radius: 1rem;
  background-color: white;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animated {
  animation: tilt-shaking 0.8s infinite;
}

.animated1 {
  animation: tilt-shaking1 0.9s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes tilt-shaking1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
